body {
    font-size: 17px;
}



.navbar {
    margin-bottom: 0;
	/*background: rgba(135, 206, 250, 0.3);*/
	/*background: rgba(151, 211, 141, .5);*/
	background: rgba(75, 75, 75, 1);
	color: rgba(300, 300, 300, 1);
	/*color: #0A4600;*/
}


.navbar-default .navbar-brand {
    /*color: #0A4600;*/
	color: rgba(300, 300, 300, 1);
}


.nav.navbar-nav.pull-right li a {
   /*color: #0A4600;*/
   color: rgba(300, 300, 300, 1);
}

.nav.navbar-nav.pull-right li a:hover {
    /*color: #555;*/
	color: rgba(50, 50, 50, 1);
}

.jumbotron {
   
   width: 100%;
   height: 100%;
   background-size: cover;
   /*background: #c9c9c9;  */
   /*background: rgba(135, 206, 250, 1); */
   /*background: rgba(60, 141, 47, .8);*/
   background: rgba(192, 192, 192, 1);
   /*color: #444*/
   color: rgba(300, 300, 300, 1);
}

.home p {
  text-align: justify
  
}

.jumbotron h1 {
  /*background-image: url("02.jpg");*/
  color: rgba(75, 75, 75, 1);

  font-size: 40px;  
  font-family: 'Shift', sans-serif;
  /*font-weight: bold;*/
}

h1, h2,h3 {
    font-weight: 300;
    justify
}

.section .image {
    max-width: 400px;
    padding: 20px;
}


footer {
    margin-top: 30px;
    border-width: 1px 0 0;
    padding: 20px 0 20px 0;
    width: 100%;

    /*color: #777;*/
	/*color: rgba(135, 206, 250, 1);*/
}

footer .copyright {
    color: #888;
}

footer .social-media-list {
    list-style: none;
    margin-left: 0;
	/*color: #444*/
	color: white;
}

footer .social-media-list li {
    display: inline-block;
	/*color: #444*/
	color: white;
	link { color: white; }
}

footer .social-media-list.link {
      color: white; 
}

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
	

}

.item {
    margin: 30px 0 30px 0;
}
.item + .item {
    border-width: 1px 0 0 0;
    /*border-color: #ddd;*/
	border-color: rgba(135, 206, 250, 0.6);
    border-style: solid;
}

.person .person-role {
    text-align: center;
}
.person .person-program {
    text-align: center;
}
.person .person-email {
    text-align: center;
}


.person-photo {
    margin: 20px auto;
    display: block;
    height: 200px;
    width: 200px;
}

img.pub-image {
    float: right;
    margin: 10px auto;
    height: 100px;
    width: 100px;
}

.pub {
    padding-top: 10px;
}

h2.pub-title {
    margin-top: 0;
}

p.pub-abstract {
    font-style: italic;
}

.pagination {
    text-align: center;
}


.video figure { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  margin-bottom: 25px;
}

.video iframe, .video object, .video embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}

